.Head {
    background-size: 100% 100%;
    width: 100%;
    height: 700px;
    background-image: url(./img/header_img.jpeg);
    
}

.title {

    width: 50%;
    height: 40%;
    padding-top: 0%;
    margin-top: 1%;
    margin-left: 25%;
}

.btn-primary {
    text-align: center;
    margin-left: 38%;
    margin-top: 4%;
}

h1 {
    text-align: center;
    margin:auto;
    color: white;
    font-size: 400%;
    Font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}

h2 {
    text-align: center;
    color: grey;
    font-size: 200%;
    margin: auto;
    Font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif;
}