.Navbar {
    height: 30px;
    text-decoration: none;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 5%;
    background-color: white;
   
}

.nav_link {
    text-decoration: none;
    margin-right: 50px;
    font-size: 120%;
    color: gray;
}

@media only screen and (max-width: 991px) {
    .Navbar {
        height: 60px;
    }

    .nav_link {
        margin: auto;
    }
    
}