.content {
    background-size: 100% 100%;
    width: 100%;
    height: 700px;
    background-image: url(../../img/dash.jpeg);
    padding-top: 10%;
}

.base {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    background-size: 100% 100%;
    width: 100%;
    height: 700px;
}

.content h1 {
    margin-top: 0%;
    margin-bottom: 5%;
    color: black;
}

a {
    text-decoration: none;
}


.Programmes h2 {
    font-size: 250%;
    color: white;
    margin-top: 0%;
}

.Infos h2 {
    font-size: 250%;
    color: white;
    text-decoration: none;
    margin-top: 0%;
}

img {
    margin-left: 0% ;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.Programmes {
    background-color: violet;
    opacity: 70%;
    background-size: 100% 100%;
    width: 25%;
    height: 35%;
    border: solid white 2px;
    border-radius: 10%;
    padding-top: 2%;
}

.Programmes:hover {
    
    border: solid blue;
}

.Infos {
    background-color: darksalmon;
    opacity: 70%;
    background-size: 100% 100%;
    width: 25%;
    height: 35%;
    border: solid white 2px;
    border-radius: 10%;
    padding-top: 2%;
}

.Infos:hover {
    
    border: solid blue;
}

.icone {
    display: block;
    height: 40%;
    width: 40%;
    margin: auto;
}


@media only screen and (max-width: 414px) {

    .content {
        background-size: 100% 100%;
        width: 100%;
        height: 700px;
        background-image: url(../../img/crossmen.jpeg)
    }
    
    .base {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-size: 100% 100%;
        width: 100%;
        height: 700px;
    }
    
    h1 {
        margin-top: 0%;
        margin-bottom: 5%;
    }
    
    a {
        text-decoration: none;
    }
    
    
    .Programmes h2 {
        font-size: 300%;
        color: black;
        background-color: white;
    }
    
    .Infos h2 {
        font-size: 300%;
        color: black;
        background-color: white;
        text-decoration: none;
    }
    
    img {
        margin-left: 0% ;
        width: 100%;
        height: 100%;
        border-radius: 3%;
    }
    
    .Programmes {
        width: 70%;
        height: 25%;
        border-radius: 3%;
    }
       
    .Infos {
        width: 70%;
        height: 25%;
        border-radius: 3%;
    }
    
}