.traininginfos {
    padding-top: 4%;
    background-size: 100% 100%;
    width: 100%;
    min-height: 700px;
    background-image: url(../../../img/dash.jpeg);
}

.traininginfos h1 {
    margin-bottom: 0%;
    font-size: 280%;
}

.exercices h2 {
    text-align: center;
    color: white;
    font-size: 200%;
    margin-bottom: 3%;
}

.cont {
    display: flex;
    justify-content: center;
    height: 100%;
    color: white;
}

.general {
    width: 25%;
    height: 35%;
    border: solid white 2px;
    opacity: 80%;
}

.exercices {
    width: 50%;
    margin-left: 10%;
    border: solid white 1px;
    padding: 1%;
    border-radius: 10%;
}

.exercicelist {
    display: flex;
    flex-direction: column;
}

.exercices button {
    display: block;
    margin: auto;
}

p, h2 {
    color: white;
    
}