.expart {
    display: flex;
    margin-top: 2%;
}

.vignette {
    width: 30%;
    height: 20%;
    border: solid;
}

.vignette h3 {
    font-size: 100%;
    text-align: center;
}


p {
    font-size: 90%;
    text-align: center;
}