.expart {
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}

.vignette {
    width: 30%;
    height: 20%;
    border: solid;
}

.vignette h3 {
    font-size: 100%;
    text-align: center;
}


.series p {
    font-size: 90%;
    text-align: center;
}